@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head lang="tr">
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>HomeLayout</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="@Url.Action("Index","Form")">Form Yönetimi</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align:right">

            @if (!User.Identity.IsAuthenticated)
            {
                <span>
                    <a href="/Account/Signup">
                        Kayıt Ol
                    </a>
                </span>
                <span>
                    <a href="/Account/Login">
                        Giriş Yap
                    </a>
                </span>
            }
            else
            {
                <div class="container" style="float:right">
                <span>HOŞ GELDİNİZ  <b> @User.Identity.Name</b></span>
                    <span>
                        <form asp-action="logout" asp-controller="Account">

                        <button type="submit" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> Çıkış
                        </button>

                        </form>
                    </span>
                </div>
            }
    </div>
</nav>

<body>







    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
